.btn {
  text-transform: none;
  border-radius: 50px;
  background: $white;
  color: $medium-green;
  font-weight: normal;

  &:hover, &:active, &:focus {
    color: $white;
    background: $medium-green;
  }
}

.nav-btn {
  line-height: 36px;
  padding-top: 12px;
  padding-left: 15px;

  a {
    @extend .btn;

    .side-nav & {
      background: $medium-green;
      color: $white;
      font-weight: 500;

      &:hover, &:active, &:focus {
        background: $neon-green;
        color: $dark-gray;
      }
    }
  }
}
