.btn {
  text-transform: none;
  border-radius: 50px;
  background: $white;
  color: $medium-green;
  font-weight: normal;

  &:hover, &:active, &:focus {
    color: $white;
    background: $medium-green;
  }

  .hero-text & {
    color: $dark-gray;
    font-size: 1.1em;

    &:hover, &:active, &:focus {
      color: $white;
    }

    @media #{$small-and-down} {
      font-size: .9em;
      height: auto;
      line-height: normal;
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
}

.nav-btn {
  line-height: 36px;
  padding-top: 12px;
  padding-left: 15px;

  a {
    @extend .btn;

    &::after {
      display: none !important;
    }

    .side-nav & {
      background: $medium-green;
      color: $white;
      font-weight: 500;

      &:hover, &:active, &:focus {
        background: $neon-green;
        color: $dark-gray;
      }
    }
  }
}
