.single-gallery {
  .main section {
    padding: 30px 0 20px;
  }

  nav {
    li.active > a:after {
      display: none;
    }

    li.menu-gallery > a:after {
      display: block;
    }

    ul.sub-menu {
      li.active > a:after {
        display: block;
      }
    }
  }
}

.gallery {
  img {
    width: 100%;
  }
}

@media #{$medium-and-up} {
  .modaal-gallery-item-wrap {
    max-height: calc(100vh - 120px);
    height: auto !important;
    width: auto !important;
  }

  .modaal-gallery-item {
    img {
      width: auto !important;
      max-height: calc(100vh - 120px);
    }
  }
}
