img {
  max-width: 100%;
  height: auto;

  .hentry & {
    @extend .z-depth-1;
  }

  .hentry &.no-shadow {
    box-shadow: none;
  }

  @media #{$medium-and-up} {
    &.alignleft {
      float: left;
      margin: 0 20px 20px 0;
    }

    &.alignright {
      float: right;
      max-width: 50%;
      margin: 0 0 20px 20px;
    }
  }

  @media #{$large-and-up} {
    &.alignright {
      margin: 0 -33% 20px 20px;
      max-width: 75%;
    }
  }

  .material-placeholder & {
    max-width: none;
  }
}

div {
  @media #{$medium-and-up} {
    &.alignleft {
      float: left;
      margin: 0 20px 20px 0;
    }

    &.alignright {
      float: right;
      max-width: 50%;
      margin: 0 0 20px 20px;
    }
  }

  @media #{$large-and-up} {
    &.alignright {
      margin: 0 -33% 20px 20px;
      max-width: 75%;
    }
  }
}

[class*="gallery-size"] {
  @extend .block-grid;
  margin-left: -10px;
  margin-right: -10px;

  @media #{$large-and-up} {
    width: 133%;
  }

  .gallery-item {
    margin: 0;
    padding: 0 10px 10px;

    @media #{$small-and-down} {
      width: calc(100% / 2);
    }

    @media #{$medium-and-up} {
      width: calc(100% / 3);
    }

    @media #{$large-and-up} {
      width: calc(100% / 4);
    }
  }

  &.gallery-columns-2 {
    .gallery-item {
      @media #{$medium-and-up} {
        width: calc(100% / 2);
      }
    }
  }

  &.gallery-columns-3 {
    .gallery-item {
      @media #{$large-and-up} {
        width: calc(100% / 3);
      }
    }
  }
}
