img {
  max-width: 100%;
  height: auto;

  .hentry & {
    @extend .z-depth-1;
  }

  .hentry &.no-shadow {
    box-shadow: none;
  }

  @media #{$medium-and-up} {
    &.alignleft {
      float: left;
      margin: 0 20px 20px 0;
    }

    &.alignright {
      float: right;
      max-width: 50%;
    }
  }

  @media #{$large-and-up} {
    &.alignright {
      margin: 0 -33% 20px 20px;
      max-width: 75%;
    }
  }

  .material-placeholder & {
    max-width: none;
  }
}
