[class*="gallery-size"] {
  @extend .block-grid;
  margin-left: -10px;
  margin-right: -10px;

  @media #{$large-and-up} {
    width: 133%;
  }

  .gallery-item {
    margin: 0;
    padding: 0 10px 10px;

    @media #{$small-and-down} {
      width: calc(100% / 2);
    }

    @media #{$medium-and-up} {
      width: calc(100% / 3);
    }

    @media #{$large-and-up} {
      width: calc(100% / 4);
    }
  }
}
