footer {
  @include white-frosty-gradient-down;
   padding: 3rem 0 1rem;

  p {
    line-height: 1.5em;
    margin-top: 0;
  }

  .fa {
    color: $medium-green;
  }

  a {
    color: $medium-green;
    text-decoration: underline;

    &:hover, &:active, &:focus {
      color: $dark-gray;
    }
  }
  
  .size-medium {
    margin: 0 auto;
    padding: 36px;
  }

  li {
     margin-top: 0;
  }
  
  .logo {
    background: rgba($frosty-green, .5);
  }

  .brand-logo {
    padding: 30px;
  }

 
  S.row:last-child {
    margin-top: 4em;
    margin-bottom: 0;
    font-size: 12px;

    a {
      text-decoration: underline;
      color: $dark-gray;

      &:hover, &:active, &:focus {
        color: $medium-green;
      }
    }

    @media #{$small-and-down} {
      .center-align, .right-align {
        text-align: left;
      }
    }
  }

 }
