* {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  font-size: 16px;
}

.wrap, .main {
  position: relative;
}

// Background colors
@each $color_name, $color in ('white':$white, 'frosty-green':$frosty-green, 'dark-green':$dark-green) {
  .background-#{$color_name} {
    padding: 5rem 0;
    background: $color;

    @if ($color_name == 'dark-green') {
      &, h2 {
        color: $white;
      }
    }
  }
}
