html {
  color: $dark-gray;
}

strong {
  font-weight: 600;
}

.extra-large-light {
  font-weight: 300;
  font-size: 50px;
}

.large-green {
  font-size: 40px;
  color: $dark-green;
}

.medium-bold {
  font-weight: 700;
  font-size: 24px;
}

.size-medium {
  font-size: 18px;
}

.uppercase {
  text-transform: uppercase;
}

h1 {
  @extend .extra-large-light;

  &.entry-title, .entry-content & {
    @extend .large-green;
    font-weight: 400;
  }
}

h2 {
  @extend .large-green;
}

h3 {
  @extend .medium-bold;
}

.hentry {
  font-size: 17px;
  line-height: 1.6em;

  ul {
    padding-left: 2rem;
    position: relative;

    li {
      &::before {
        content: '\2022';
        color: $medium-green;
        position: absolute;
        left: .5rem;
      }
    }
  }
}
