// Colors
$light-green: #E9F7F5;
$dark-green: #007C66;
$button-green: #00A686;
$button-hover: #5EDDC1;
$neon-green: #58FFDA;
$dark-gray: #444444;

$brand-primary: $dark-green;

// Fonts
$font-family: 'Lato', sans-serif;
$lighter: 300;
