// Fonts
$font-family: 'Lato', sans-serif;

// Colors
$frosty-green: #E9F7F5;
$dark-green: #007C66;
$medium-green: #00A686;
$neon-green: #58FFDA;

$frosty-gray: #C7C5C3;
$dark-gray: #444444;
$darker-gray: #222222;

$white: #ffffff;
$black: #000000;

$primary-color: $dark-green;

// Gradients
// Utility mixin from Compass
@mixin filter-gradient($start-color, $end-color, $orientation: vertical) {
  $gradient-type: if($orientation == vertical, 0, 1);
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=#{$gradient-type}, startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}');
}

@mixin trans-gray-gradient-left {
  @include filter-gradient(rgba($darker-gray, .5), rgba($darker-gray, 0), horizontal);
  background-image: -o-linear-gradient(90deg, rgba($darker-gray, .5) 50%, rgba($darker-gray, 0) 75%);
  background-image: -moz-linear-gradient(90deg, rgba($darker-gray, .5) 50%, rgba($darker-gray, 0) 75%);
  background-image: -ms-linear-gradient(90deg, rgba($darker-gray, .5) 50%, rgba($darker-gray, 0) 75%);
  background-image: linear-gradient(90deg, rgba($darker-gray, .5) 50%, rgba($darker-gray, 0) 75%);
}

@mixin white-frosty-gradient-down {
  @include filter-gradient($white, $frosty-green, vertical);
  background-image: -o-linear-gradient(180deg, $white 0%, $frosty-green 100%);
  background-image: -moz-linear-gradient(180deg, $white 0%, $frosty-green 100%);
  background-image: -ms-linear-gradient(180deg, $white 0%, $frosty-green 100%);
  background-image: linear-gradient(180deg, $white 0%, $frosty-green 100%);
}

@mixin cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin soft-corners {
  border-radius: 4px;
}
